:root {
  --blue: rgb(180, 180, 224);
  --grey: rgb(66, 66, 66);
  --dark: rgb(0, 25, 48);
  --white: rgb(236, 236, 236);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

h1 {
  margin-top: 50px;
}

.selection {
  text-align: center;
}

button {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--blue);
  border-radius: 6px;
  border: 2px var(--white) solid;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

p {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
}

.input{
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--grey);
  border-radius: 6px;
  border: 1px var(--white) solid;
  width: 80px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
}

.options {
  display: none;
}

.is-selecting {
  display: block;
}